.App {
  text-align: center;
}
body{
  background-color: #e0e0e0 !important;
  color: #001F3F;
}
label {
  margin-top: 5px;
  display: block;
  font-weight: 600;
}

input {
  margin-top: 5px;
  font-weight: 600;
  max-width: 150px;
  border: 1px solid #001F3F;
  border-radius: 5px;
}

.dnd{
  padding: 20px;
  overflow-x: scroll;
  margin-top: 10px !important;
  margin-left: 10px;
  border-radius: 50px;
background: linear-gradient(315deg, #cacaca, #f0f0f0);
box-shadow:  -5px -5px 10px #777777,
             5px 5px 10px #ffffff;
}

button{
  color: #001F3F !important;
  font-weight: bold !important;
  margin-top: 20px !important;
  border-radius: 15px !important;
background: #e0e0e0;
box-shadow:  -5px -5px 10px #5a5a5a,
             5px 5px 10px #ffffff;
             
}

#json-pretty{
  font-weight: 600;
  padding: 30px;
  min-height: 200px;
  border-radius: 50px;
background: #e0e0e0;
box-shadow:  -5px -5px 0px #777777,
             5px 5px 0px #ffffff;
}
.btns{
  margin-top:100px !important;
}
.inpbtn button{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inpbtn button:hover{
  background-color: #001F3F !important;
  color: #e0e0e0 !important;
  
}
.btns button{
  background-color: #001F3F;
  color: #e0e0e0 !important;
  margin-top: 10px !important;
  
}

.btns button:hover{
  color: #001F3F !important;
}

h1 {
  
  display: inline-block !important;
  text-align: center;
  
  
  margin-top: 10px !important;
  margin-bottom: 70px;
}